.app {
  display: flex;
  padding: 1rem;
  background-color: #ffffff;
}

.app h2 {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 1rem;
}
// Updated: 2025-11-07T08:43:22.690Z

// Updated: 2025-11-07T08:43:33.847Z
